<!DOCTYPE html>
<html>
<head>
  <title>ReactBabel</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
<div id="react-root"></div>
<%= javascript_include_tag 'bundle' %>
</body>
</html>
